@import '../../styles.scss';

.navbar {
  @include themify($themes) {
    display: flex;
    height: 50px;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: #ccc 1px solid;
    position: sticky;
    top: 0;
    z-index: 999;
    color: themed('textColor');
    background-color: themed('bg');

    .left {
      display: flex;
      align-items: center;
      gap: 20px;
      span {
        font-size: 30px;
        letter-spacing: -4px;
        color: themed('textColor');
        text-shadow: 0 0 10px themed('logoShadow');
        text-transform: lowercase;
      }
      .icon {
        color: themed('textColor');
        cursor: pointer;
      }
      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        input {
          width: 200px;
          height: 30px;
          border-radius: 1px;
          padding: 0 10px;
          border: 1px solid themed('border');
          outline: none;
          background-color: transparent;
          color: themed('textColor');
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      .user {
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: contain;
        }
      }
    }
  }
}
